// | -------------------------------------------------------------
// | Container
// | -------------------------------------------------------------

@use "breakpoint" as *;

.container {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 100%;
  box-sizing: border-box;

  @include breakpoint(medium) {
    padding: 0 2rem;
  }

  @include breakpoint(large) {
    padding: 0 2rem;
    max-width: 1600px;
  }

  &.stretch {
    max-width: 100%;
  }
}